# This notebook is used to create the data clothes csv file given a folder of images

In [68]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [69]:
import sys
import matplotlib.pyplot as plt
import scripts.main_utilities as mu
import roboflow
import pandas as pd
import numpy as np
from roboflow import Roboflow
import os
import torch
from ultralytics import YOLO
import configparser

# Read config file
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

# Var

In [70]:

PATH_IMAGES_FOLDER  = config["PATH"]["PATH_IMAGES_FOLDER"]
PATH_DATA_COLOR     = config["PATH"]["PATH_DATA_COLOR"]
PATH_SAVE_DATA      = config["PATH"]["PATH_SAVE_DATA"]

YOLO_MODEL          = config["MODEL"]["YOLO_MODEL"]
ROBOFLOW_MODEL      = config["MODEL"]["ROBOFLOW_MODEL"]

EXTENSION_IMG       = ["jpeg", 'png']

# Model

In [71]:
device = torch.device('cpu')
os.environ["KMP_DUPLICATE_LIB_OK"] = "TRUE"
MODEL_DETECT_OBJ    = YOLO(YOLO_MODEL)
MODEL_DETECT_OBJ.to(device) 

# Token Roboflow
roboflow_token = os.getenv("ROBOFLOW_TOKEN")
# Connect to Roboflow
#roboflow.login()
rf = Roboflow(roboflow_token)

# Load pretrained model for clothes recognition
project = rf.workspace().project(ROBOFLOW_MODEL)
fashion = project.version(4).model

loading Roboflow workspace...
loading Roboflow project...

# Extract images of the folder

In [50]:
path_img_list, img_names = mu.get_extension_folder(PATH_IMAGES_FOLDER, EXTENSION_IMG)
path_img_list

['static/images/asap_rocky_outfit.jpeg',
 'static/images/asap_rocky_outfit7.jpeg',
 'static/images/outfit1.jpeg',
 'static/images/asap_rocky_outfit10.jpeg',
 'static/images/asap_rocky_outfit11.jpeg',
 'static/images/asap1.jpeg',
 'static/images/asap_rocky_outfit1.jpeg',
 'static/images/eminem.jpeg']

# Load color dataframe

In [51]:
data_color = pd.read_csv(PATH_DATA_COLOR)
data_color.head()

    color    R    G    B
0  Yellow  255  255    0
1     Red  255    0    0
2    Blue    0    0  255
3   Green    0  255    0
4  Orange  255  165    0

# Load img path with plt.imread()

In [52]:
img_list = [plt.imread(i) for i in path_img_list]

# Extract data clothes from img

In [58]:
data_clothes_ = mu.detect_outfit_color_batch(img_list, img_names, MODEL_DETECT_OBJ, fashion, data_color)
data_clothes_.head()

[INFO] : 1 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']
[INFO] : 1 outfit found
bottom : Sari
[INFO] : 4 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 3 outfit found
top : Tshirt
bottom : Pant
top : shirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names
X does not have valid feature names, but NearestNeighbors was fitted with feature names
X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : shirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 0 outfit found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']
[INFO] : 1 outfit found
top : shirt
[INFO] : 2 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : shirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 0 outfit found
[INFO] : 2 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']
[INFO] : 1 outfit found
top : Tshirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : shirt
[INFO] : 1 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : Tshirt
[INFO] : 2 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : Tshirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : Tshirt
[INFO] : 1 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : Tshirt
[INFO] : 3 person found
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : shirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : Tshirt
['shirt', 'jacket', 't-shirt', 'tee shirt', 'polar', 'Tshirt']
['pants', 'cargo']

X does not have valid feature names, but NearestNeighbors was fitted with feature names

[INFO] : 1 outfit found
top : Tshirt

X does not have valid feature names, but NearestNeighbors was fitted with feature names

  bottom bottom_color    top top_color                       id
0   Sari        black    NaN       NaN   asap_rocky_outfit.jpeg
0   Pant         grey  shirt     beige  asap_rocky_outfit7.jpeg
0    NaN          NaN  shirt      grey  asap_rocky_outfit7.jpeg
0    NaN          NaN  shirt    silver  asap_rocky_outfit7.jpeg
0    NaN          NaN  shirt    silver             outfit1.jpeg

# Save the data csv

In [60]:
data_clothes_.to_csv(PATH_SAVE_DATA, index= False)

In [59]:
data_clothes_

  bottom bottom_color     top top_color                        id
0   Sari        black     NaN       NaN    asap_rocky_outfit.jpeg
0   Pant         grey   shirt     beige   asap_rocky_outfit7.jpeg
0    NaN          NaN   shirt      grey   asap_rocky_outfit7.jpeg
0    NaN          NaN   shirt    silver   asap_rocky_outfit7.jpeg
0    NaN          NaN   shirt    silver              outfit1.jpeg
0    NaN          NaN  Tshirt      grey  asap_rocky_outfit10.jpeg
0    NaN          NaN   shirt     black  asap_rocky_outfit10.jpeg
0    NaN          NaN  Tshirt      grey  asap_rocky_outfit11.jpeg
0    NaN          NaN  Tshirt     black                asap1.jpeg
0    NaN          NaN  Tshirt      grey                asap1.jpeg
0    NaN          NaN  Tshirt     beige   asap_rocky_outfit1.jpeg
0    NaN          NaN   shirt      grey               eminem.jpeg
0    NaN          NaN  Tshirt     black               eminem.jpeg
0    NaN          NaN  Tshirt      grey               eminem.jpeg